<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asukacorp.aismobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aism_logo_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aism_logo_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.asukacorp.aismobile.Dashboard.Advance.DashAdvanceActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.Expense.DashExpenseActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.BankTransaction.DashBankTransactionActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.PaymentSupplier.DashPaymentSupplierActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.Budgeting.DashBudgetingActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.StockAdjustment.DashStockAdjustmentActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.MaterialReturn.DashMaterialReturnActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.CashOnDelivery.DashCashOnDeliveryActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.WorkOrder.DashWorkOrderActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.PurchaseOrder.DashPurchaseOrderActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.TunjanganPerjalanan.DashTunjanganPerjalananActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.TunjanganLokasi.DashTunjanganLokasiActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.CashProjectReport.DashCashProjectReportActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.ProposedBudget.DashProposedBudgetActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.Spkl.DashSpklActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.WorkRequest.DashWorkRequestActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.MaterialRequest.DashMaterialRequestActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.CustomerReceives.CustomerReceiveDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Report.ReportDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.KontrakPerjanjian.KontrakPerjanjianDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.Event.EventsDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.Followup.FollowupsCustomerDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.Followup.FollowupsLeadDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.Kuesioner.KuesionerDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.Question.QuestionDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Safety.SafetyFileReport.SafetyFileReportDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Contact.Access.AccessDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.SupplierInvoice.SupplierInvoiceDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.CustomerInvoice.CustomerInvoiceDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.CheckClockDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.CutiDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.RiwayatDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.PendidikanDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.KeluargaDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.TrainingDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.NoticeDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.ExperienceDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Kerja.HistoryContractDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Penggajian.TunjanganDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.HistoryActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.AchievementKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.TrainingKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.ExperienceKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.EducationKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.AllowanceKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.LeaveKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.FileKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.KerjaKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Karyawan.DetailKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Pangkat.DetailPangkatActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.JenjangKaryawan.DetailJenjangKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Personalia.Departemen.DetailDepartemenActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.PaymentSupplier.DetailPaymentSuppliersActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.Budgeting.DetailBudgetingActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.CashAdvance.DetailCashAdvanceActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.Expenses.DetailExpensesActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.BankTransaction.DetailBankTransactionActivity" />
        <activity android:name="com.asukacorp.aismobile.Inventory.Material.DetailMaterialActivity" />
        <activity android:name="com.asukacorp.aismobile.Inventory.Stock.DetailStockActivity" />
        <activity android:name="com.asukacorp.aismobile.Inventory.AsetRental.DetailAsetRentalActivity" />
        <activity android:name="com.asukacorp.aismobile.Inventory.Aset.DetailAsetActivity" />
        <activity android:name="com.asukacorp.aismobile.Inventory.Item.DetailItemActivity" />
        <activity android:name="com.asukacorp.aismobile.Marketing.SalesOrder.DetailSalesOrderActivity" />
        <activity android:name="com.asukacorp.aismobile.Marketing.SalesQuotation.DetailSalesQuotationsActivity" />
        <activity android:name="com.asukacorp.aismobile.Contact.Perusahaan.DetailPerusahaanActivity" />
        <activity android:name="com.asukacorp.aismobile.Contact.Supplier.DetailSupplierActivity" />
        <activity android:name="com.asukacorp.aismobile.Contact.Contacts.DetailContactsActivity" />
        <activity android:name="com.asukacorp.aismobile.Safety.GenbaSafety.DetailGenbaSafetyActivity" />
        <activity android:name="com.asukacorp.aismobile.Safety.WorkAccident.DetailWorkAccidentActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.ScheduleVisit.DetailScheduleActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.Lead.DetailLeadsActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.CustomerFeedback.DetailCustomerFeedbackActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.ServicesReceipt.DetailServicesReceiptActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.WorkHandover.DetailWorkHandoverActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.GoodReceivedNote.DetailGoodRecivedNoteActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.CashOnDelivery.DetailCashOnDeliveryActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.WorkOrder.DetailWorkOrdderActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.PurchaseOrder.DetailPurchaseOrderActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.TunjanganTemporary.DetailTunTemporaryActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.TunjanganKaryawan.DetailTunjanganKaryawanActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.CashProject.DetailCashProjectActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.ProposedBudget.DetailProposedBudgetActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.Pengambilan.DetailPengambilanActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.WorkRequests.DetailWorkReqActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.MaterialRequest.DetailMaterialRequestActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.WorkCompletion.DetailWorkCompletionActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.UpdateJobOrderActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.Spkl.UpdateSpklActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.BuatJobOrderActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.Spkl.BuatSpklActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.Spkl.DetailSpklActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailHistoryActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailNotesActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailMatRetActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailInvoiceActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailExpensesActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailCprActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailPbActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailWoActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailCodActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailMpActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailTrActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailPrActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailMrActivity" />
        <activity android:name="com.asukacorp.aismobile.News.NewsDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.JobOrder.JobOrderDetailActivity" />
        <activity android:name="com.asukacorp.aismobile.News.NewsActivity" />
        <activity android:name="com.asukacorp.aismobile.Dashboard.DashboardActivity" />
        <activity
            android:name="com.asukacorp.aismobile.Safety.SafetyActivity"
            android:label="Safety"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.asukacorp.aismobile.Purchasing.PurchasingActivity"
            android:label="Purchasing"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name="com.asukacorp.aismobile.Safety.SafetyMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Purchasing.PurchasingMenuActivity" />
        <activity
            android:name="com.asukacorp.aismobile.Personalia.PersonaliaActivity"
            android:label="Personalia"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name="com.asukacorp.aismobile.Personalia.PersonaliaMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Setup.SetupActivity" />
        <activity android:name="com.asukacorp.aismobile.Report.ReportActivity" />
        <activity
            android:name="com.asukacorp.aismobile.Contact.ContactActivity"
            android:label="Contact"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.asukacorp.aismobile.Crm.CrmActivity"
            android:label="CRM"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.asukacorp.aismobile.Marketing.MarketingActivity"
            android:label="Marketing"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.asukacorp.aismobile.Finance.FinanceActivity"
            android:label="Finance Accounting"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.asukacorp.aismobile.Project.ProjectActivity"
            android:label="Project"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.asukacorp.aismobile.Inventory.InventoryActivity"
            android:label="Inventory"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />
        <activity android:name="com.asukacorp.aismobile.Profile.EditProfileActivity" />
        <activity android:name="com.asukacorp.aismobile.Profile.ProfileActivity" />
        <activity android:name="com.asukacorp.aismobile.Contact.ContactMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Crm.CrmMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Marketing.MarketingMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Project.ProjectMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Inventory.InventoryMenuActivity" />
        <activity android:name="com.asukacorp.aismobile.Finance.FinanceMenuActivity" />
        <activity
            android:name="com.asukacorp.aismobile.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.asukacorp.aismobile.MainActivity" />

        <service android:name="com.asukacorp.aismobile.AppService" />
    </application>

</manifest>