<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aismobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aism_logo_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Inventory.Material.DetailMaterialActivity"></activity>
        <activity android:name=".Inventory.Stock.DetailStockActivity" />
        <activity android:name=".Inventory.AsetRental.DetailAsetRentalActivity" />
        <activity android:name=".Inventory.Aset.DetailAsetActivity" />
        <activity android:name=".Inventory.Item.DetailItemActivity" />
        <activity android:name=".Marketing.SalesOrder.DetailSalesOrderActivity" />
        <activity android:name=".Marketing.SalesQuotation.DetailSalesQuotationsActivity" />
        <activity android:name=".Contact.Perusahaan.DetailPerusahaanActivity" />
        <activity android:name=".Contact.Supplier.DetailSupplierActivity" />
        <activity android:name=".Contact.Contacts.DetailContactsActivity" />
        <activity android:name=".Safety.GenbaSafety.DetailGenbaSafetyActivity" />
        <activity android:name=".Safety.WorkAccident.DetailWorkAccidentActivity" />
        <activity android:name=".Crm.ScheduleVisit.DetailScheduleActivity" />
        <activity android:name=".Crm.Lead.DetailLeadsActivity" />
        <activity android:name=".Crm.CustomerFeedback.DetailCustomerFeedbackActivity" />
        <activity android:name=".Purchasing.ServicesReceipt.DetailServicesReceiptActivity" />
        <activity android:name=".Purchasing.WorkHandover.DetailWorkHandoverActivity" />
        <activity android:name=".Purchasing.GoodReceivedNote.DetailGoodRecivedNoteActivity" />
        <activity android:name=".Purchasing.CashOnDelivery.DetailCashOnDeliveryActivity" />
        <activity android:name=".Purchasing.WorkOrder.DetailWorkOrdderActivity" />
        <activity android:name=".Purchasing.PurchaseOrder.DetailPurchaseOrderActivity" />
        <activity android:name=".Project.TunjanganTemporary.DetailTunTemporaryActivity" />
        <activity android:name=".Project.TunjanganKaryawan.DetailTunjanganKaryawanActivity" />
        <activity android:name=".Project.CashProject.DetailCashProjectActivity" />
        <activity android:name=".Project.ProposedBudget.DetailProposedBudgetActivity" />
        <activity android:name=".Project.Pengambilan.DetailPengambilanActivity" />
        <activity android:name=".Project.WorkRequests.DetailWorkReqActivity" />
        <activity android:name=".Project.MaterialRequest.DetailMaterialRequestActivity" />
        <activity android:name=".Project.WorkCompletion.DetailWorkCompletionActivity" />
        <activity android:name=".Project.JobOrder.UpdateJobOrderActivity" />
        <activity android:name=".Project.Spkl.UpdateSpklActivity" />
        <activity android:name=".Project.JobOrder.BuatJobOrderActivity" />
        <activity android:name=".Project.Spkl.BuatSpklActivity" />
        <activity android:name=".Project.Spkl.DetailSpklActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailHistoryActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailNotesActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailMatRetActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailInvoiceActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailExpensesActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailCprActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailPbActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailWoActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailCodActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailMpActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailTrActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailPrActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailMrActivity" />
        <activity android:name=".News.NewsDetailActivity" />
        <activity android:name=".Project.JobOrder.JobOrderDetailActivity" />
        <activity android:name=".News.NewsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".Safety.SafetyActivity"
            android:label="Safety"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Purchasing.PurchasingActivity"
            android:label="Purchasing"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Safety.SafetyMenuActivity" />
        <activity android:name=".Purchasing.PurchasingMenuActivity" />
        <activity
            android:name=".Personalia.PersonaliaActivity"
            android:label="Personalia"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Personalia.PersonaliaMenuActivity" />
        <activity android:name=".Setup.SetupActivity" />
        <activity android:name=".Report.ReportActivity" />
        <activity
            android:name=".Contact.ContactActivity"
            android:label="Contact"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Crm.CrmActivity"
            android:label="CRM"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Marketing.MarketingActivity"
            android:label="Marketing"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Finance.FinanceActivity"
            android:label="Finance Accounting"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Project.ProjectActivity"
            android:label="Project"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Inventory.InventoryActivity"
            android:label="Inventory"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name="com.tangxiaolv.telegramgallery.GalleryActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Contact.ContactMenuActivity" />
        <activity android:name=".Crm.CrmMenuActivity" />
        <activity android:name=".Marketing.MarketingMenuActivity" />
        <activity android:name=".Project.ProjectMenuActivity" />
        <activity android:name=".Inventory.InventoryMenuActivity" />
        <activity android:name=".Finance.FinanceMenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".AppService" />
    </application>

</manifest>